/* 通用设置 */
body {
	font-family: 'Open Sans', sans-serif;
}

 #wrapper {
	width: 100%;
	background:#202020;
}

#page-wrapper {
	padding: 15px 15px;
	min-height: 600px;
	background:#F3F3F3;
   
}
#page-inner {
	width:100%;
	margin:10px 20px 10px 0px;
	background-color:#fff!important;
	padding:10px;
	min-height:1200px;
}

.no-boder {
  border:1px solid #f3f3f3;
}
h3 {
  color: #f00;
}
h4 {
  padding-top:10px;
}
.square-btn-adjust {
	border: 0px solid transparent; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}
p {
	font-size:16px;
	line-height:25px;
	padding-top:20px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/

.panel-back {
   background-color:#F8F8F8;
}
.noti-box {
min-height: 100px;
padding: 20px;
}

.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.bg-color-green {
background-color: #00CE6F;
color: #fff;
}
.bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
.bg-color-red {
background-color: #DB0630;
color: #fff;
}
.bg-color-brown {
background-color: #B94A00;
color: #fff;
}


.icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

.main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
	padding:20px;
	font-size:20px;
	font-weight:500;
  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
.back-dash p {
	padding-top:16px;
	font-size:13px;
	color:#fff;
	line-height:25px;
	text-align:justify;
}
.back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
.back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
.color-bottom-txt {
color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
.chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
.chat-box {
margin: 0;
padding: 0;
list-style: none;
}
.chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
margin-left: 90px;
}
.chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
 margin-left:20px;
}



/*时间*/
.publicTime{
color: white;
height: 60px;
padding: 12px 40px 10px 10px;
float: right;
font-size: 16px;
}
#time{
    background: url("../images/time.png") 0 center no-repeat;
    padding-left: 26px;
		margin-right: 10px;
}
/* ========= */

.pagetitle {
float: left;
color: white;
height: 60px; 
font-size: 30px;
font-weight: 700; 
text-align: center;
line-height: 60px;/* 用于文本垂直居中 */
margin-left: 30px;

}

.navbar-cls-top .navbar-brand {
color: #fff;
background: #B90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}

/* 二级和三级菜单的相关设置 */
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding:8px 0px 8px 20px;
	
	
}


.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	/* border-bottom: 1px solid yellow; *//* 设置左侧导航菜单的选中底线颜色 */
	background:#0A0A0A;
	outline:0;
}

/* 下拉列表左侧横向标记线 */
/* .nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:yellow;
	top:20px;
} */
/* ========= */


/* 下拉列表左侧竖向标记线 */
/* .nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
} */
/* ========= */
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}

.navbar-side {
	border:none;
	background-color: #202020;
	
}
/* 导航条背景颜色 */
.navbar-cls-top {
	background:#202020;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

	background: #C90000;
	color:#fff;

}

.navbar-default {
border:0px solid black;
     
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/* 控制左侧菜单的颜色显示 */
#activeMenu >a {
	background-color: #FF0000;
}
/* ========= */


/* 多级菜单箭头 */
li > a[data-toggle="collapse"]:before {
    content: "\f104";
    display: inline-block;
    transform: translateY(-50%);
	font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 20px;
}
a[aria-expanded="true"] {
    background: #EEF5F9;
}
li > a[aria-expanded="true"][data-toggle="collapse"]:before {
    content: "\f107";
	font-family: 'FontAwesome';
} 
/* ========= */


/* 表格表头文本居中 */
table {
	text-align: center;
}

table > thead > tr > th {
	text-align: center;
}
/* ========= */


@media(min-width:768px) {
#page-wrapper{
	margin: 0 0 0 260px;
	padding: 15px 30px;
	min-height: 1200px;
}

.navbar-side {
	z-index: 1;
	position: absolute;
	width: 260px;
}

.navbar {
	border-radius: 0px; 
}
   
}


