<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">
    <head>
        <meta charset="UTF-8">
        <title th:replace="public/common :: importPageHead">泛知亦学</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <!-- CSS -->
        <link rel="stylesheet" href="../css/login.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="page-container">
            <h1>Individual learning project</h1>
            <form class="loginForm" action="/welcome"  name="actionForm" id="actionForm"  method="post" >
            	<div class="error" th:text="${error}"></div>
                <input value="admin" type="text" id="code" name="code" class="name" onfocus=placeholder="" onblur=placeholder="用户名" >
                <input value="123" type="password" id="password" name="password" class="password" onfocus=placeholder="" onblur=placeholder="密码">
                <button type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;陆</button> 
            </form>
			<div class="page-body" align="center">
			没有账号？<a href="/regist.html" target="_blank">立即注册</a>&nbsp;&nbsp;&nbsp;&nbsp;
			无法登陆？<a href="/forgetPassword.html" target="_blank">找回密码</a>
			</div>
			
            <div class="connect">
				<p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
        <div align="center">
            <a href="http://www.miitbeian.gov.cn/" style="color: white;" target="_blank">京ICP备18063199号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p>版权所属 &copy; 2018 - 2018 <a href="https://github.com/wyd288/fan1111" target="_blank" title="泛知亦学" style="color: white;">泛亦科技</a></p>
        </div>

    </body>

</html>

